:root {
    --bg-color: #f4f1ea; 
    --text-color: #2c2c2c;
    --accent-red: #bc002d; 
    --border-style: 1px solid #999;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "MS PGothic", "Courier New"; 
    margin: 0;
    padding: 20px;
    line-height: 1.5;
}

header {
    border: var(--border-style);
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 5px 5px 0px #ccc; 
}

h1 {
    color: var(--accent-red);
    font-size: 1.8rem;
    border-bottom: 2px double var(--accent-red);
    display: inline-block;
    margin-bottom: 15px;
}

.intro-text p {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    border: var(--border-style);
    background-color: #fff;
    padding: 15px;
    display: top; 
    align-items: center;
    
    gap: 20px;
}

article img {
    border: 1px solid #000;
    filter: sepia(0.3) contrast(1.1);
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: auto;
}

h2 {
    font-size: 1.2rem;
    margin-top: 0;
    background-color: #eeeeee;
    padding: 5px;
    border-left: 5px solid var(--accent-red);
    display: block;
}

footer {
    margin-top: 50px;
    border-top: 1px dashed #666;
    padding-top: 20px;
    font-size: 0.8rem;
    text-align: center;
}