.box {
	width: 500px;
	width: 90%;
	height: 500px;
	margin: 20px auto;
	border: solid 1px #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.box h2 {
	display: none;
	font-family: Arial, sans-serif;
}

@media screen and (max-width: 420px) {
	.box {
		background-color: #444646;
	}

	.box .txt-cinza {
		display: block;
		color: white;
	}
}

@media screen and (min-width: 421px) and (max-width: 768px) {
	.box {
		background-color: #e67e22;
	}

	.box .txt-laranja {
		display: block;
		color: white;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.box {
		background-color: #ff00ff;
	}

	.box .txt-rosa {
		display: block;
		color: white;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1080px) {
	.box {
		background-color: #e74c3c;
	}

	.box .txt-vermelho {
		display: block;
		color: white;
	}
}


@media screen and (min-width: 1081px) and (max-width: 1366px) {
	.box {
		background-color: #6b0282;
	}

	.box .txt-roxo {
		display: block;
		color: white;
	}
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
	.box {
		background-color: #f1c40f;
	}

	.box .txt-amarelo {
		display: block;
		color: black;
	}
}

@media screen and (min-width: 1921px) {
	.box {
		background-color: #27ae60;
	}

	.box .txt-verde {
		display: block;
		color: white;
	}
}